html {
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  overflow-y: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  width: 100%;
  height: 100%;
}

#canvas {
  background-color: white;
}

/* ==========  ========== */
.active {
  outline: 2px solid #6b7280;
  outline-offset: 2px;
  outline-width: 4px;
  
  background-color: #6b7280 !important;
}
.none {
  display: none !important;
}
#play-ui .score {
  position: fixed;
  top: 4vh;
  right: 4vw;
  z-index: 10;

  font-size: 1.4rem;
  font-weight: bold;
}
#play-ui .coin {
  position: fixed;
  top: 8vh;
  right: 4vw;
  z-index: 10;

  font-size: 1.4rem;
  font-weight: bold;
}
#play-ui .enemy {
  position: fixed;
  top: 12vh;
  right: 4vw;
  z-index: 10;

  font-size: 1.4rem;
  font-weight: bold;
}
#play-ui .stage {
  position: fixed;
  top: 4vh;
  left: 50vw;
  z-index: 10;

  font-size: 1.8rem;
  font-weight: bold;
}

/* ========== start/end ui ========== */
#ready-ui,
#end-ui {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Jua', sans-serif;
}
#ready-ui > ul,
#end-ui > ul {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
#ready-ui > h1,
#end-ui > h1 {
  position: absolute;
  top: 20%;
  left: 0%;
  right: 0%;

  text-align: center;

  font-size: 3rem;
  font-weight: bold;
}
#ready-ui > ul > li {
  margin-right: 5%;

  white-space: nowrap;
}
#end-ui > ul > li {
  white-space: nowrap;
}
#ready-ui > ul > li > button[type="button"],
#end-ui > ul > li > button[type="button"] {
  padding: 0.4em 1em;

  border: none;
  background-color: #9ca3af;
  color: white;
  border-radius: 0.2em;
  box-shadow: 2px 2px 12px gray;
  
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Jua', sans-serif;

  transition: background-color 0.4s;

  cursor: pointer;
}
#ready-ui > ul > li > button[type="button"]:hover, #ready-ui > ul > li > button[type="button"]:focus,
#end-ui > ul > li > button[type="button"]:hover, #end-ui > ul > li > button[type="button"]:focus {
  outline: 2px solid #6b7280;
  outline-offset: 2px;
  outline-width: 4px;
  
  background-color: #6b7280;
}
#ready-ui > ul > li > button[data-start="start"] {
  padding: 0.6em 1.2em;

  font-size: 2rem
}